<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <title>File manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" media="screen">
    <link rel="stylesheet" href="{% static "css/index.css" %}" media="screen">
</head>
<body>
<header>
    <h1>Файловий менеджер</h1>
    </div>
</header>

<div class="main">
    <form method="POST">
        {% csrf_token %}
        <table class="table_main">
            <tr>
                <td>
                    <div class="table">
                        Хост:
                        <select name="select" required>
                            {% for connection in connections %}
                                <option value={{ connection.id }}> {{ connection.host }} </option>
                            {% endfor %}
                        </select>
                        {% comment %}Протокол:
                        <select name="protocol" required>
                            <option value="SFTP">SFTP</option>
                            <option value="FTP">FTP</option>
                        </select>{% endcomment %}
                        <input class="btn btn-primary" type="submit" name="button" value="Зв'язатися">
                    </div>
                </td>
                <td>
                    <div class="table">
                        <input class="btn btn-primary" type="submit" name="button" value="Видалити поточний хост">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="table">
                        <table>
                            <tr>
                                <td>
                                    Назва нового хоста:
                                </td>
                                <td>
                                    <input name="create_host">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Ім'я користувача:
                                </td>
                                <td>
                                    <input name="create_user">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Пароль:
                                </td>
                                <td>
                                    <input type="password" name="create_password">
                                </td>
                            </tr>
                        </table>
                        <input class="btn btn-primary" type="submit" name="button" value="Створити">
                    </div>
                </td>
                <td>
                    <div class="table">
                        <table>
                            <tr>
                                <td>
                                    Редагування хоста:
                                </td>
                                <td>
                                    <input name="edit_host">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Ім'я користувача:
                                </td>
                                <td>
                                    <input name="edit_user">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Пароль:
                                </td>
                                <td>
                                    <input type="password" name="edit_password"><br>
                                </td>
                            </tr>
                        </table>
                        <input class="btn btn-primary" type="submit" name="button" value="Оновити">
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="table">
                        <div>
                            Папка для завантажень: <input name="path_save" placeholder="C:\">
                            Папка або файл:
                            <select name="filename">
                                {% for item in data %}
                                    <option value= {{ item }}> {{ item }} </option>
                                {% endfor %}
                            </select>
                            <input type="hidden" name="path" value="{{ path }}">
                            <input class="btn btn-primary" type="submit" name="button" value="Перейти/Завантажити">
                            <span style="font-size: 10pt">(Якщо обрано файл, то він буде скачений у каталог для завантажень)</span>
                            <span style="font-size: 14pt; color: darkred">{{ message }}</span>
                        </div>
                        <div>
                            Поточний каталог сервера: <b>{{ path }}</b>
                            <div style="width: 100%; border: 2px solid gray">
                                <table class="table-striped" style="width: 100%">
                                    <tbody>
                                    {% for item in data %}
                                        <tr>
                                            <td style="padding: 5px">
                                                {{ item }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <br>
                        </div>
                        <div>
                            <input name="uploadFile" type="text" placeholder="Шлях до файлу">
                            <button class="btn btn-primary" type="submit" name="button" value="Upload">Завантажити на сервер</button>
                        </div>
                    </div>
                </td>
            </tr>
        </table>

    </form>
</div>

<div class="footer"> &#169 Roman Osadchuk 2019</div>
</body>
</html>